src/conf/xml-resources/web-service-references/MLVBibService/wsdl/localhost_8080/mlv-school-rmi-client/MLVBibService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="addToCart" type="tns:addToCart"/>

<xs:element name="addToCartResponse" type="tns:addToCartResponse"/>

<xs:element name="available" type="tns:available"/>

<xs:element name="availableResponse" type="tns:availableResponse"/>

<xs:element name="buyCart" type="tns:buyCart"/>

<xs:element name="buyCartResponse" type="tns:buyCartResponse"/>

<xs:element name="catalog" type="tns:catalog"/>

<xs:element name="catalogResponse" type="tns:catalogResponse"/>

<xs:element name="getCart" type="tns:getCart"/>

<xs:element name="getCartResponse" type="tns:getCartResponse"/>

<xs:element name="getPriceCart" type="tns:getPriceCart"/>

<xs:element name="getPriceCartResponse" type="tns:getPriceCartResponse"/>

<xs:element name="intiCatalog" type="tns:intiCatalog"/>

<xs:element name="intiCatalogResponse" type="tns:intiCatalogResponse"/>

<xs:element name="removeToCart" type="tns:removeToCart"/>

<xs:element name="removeToCartResponse" type="tns:removeToCartResponse"/>

<xs:complexType name="available">
<xs:sequence>
<xs:element name="isbn" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="availableResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPriceCart">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPriceCartResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="intiCatalog">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="intiCatalogResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="isbn" type="xs:long"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buyCart">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buyCartResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeToCart">
<xs:sequence>
<xs:element name="isbn" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeToCartResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addToCart">
<xs:sequence>
<xs:element name="isbn" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addToCartResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCart">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCartResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="catalog">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="catalogResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>