src/conf/xml-resources/web-service-references/MLVBibService/wsdl/localhost_8080/mlv-school-rmi-client/MLVBibService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="MLVBibService">
<wsp:Policy wsu:Id="MLVBibServicePortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/mlv-school-rmi-client/MLVBibService?xsd=1"/>
</xsd:schema>
</types>
<message name="catalog">
<part name="parameters" element="tns:catalog"/>
</message>
<message name="catalogResponse">
<part name="parameters" element="tns:catalogResponse"/>
</message>
<message name="available">
<part name="parameters" element="tns:available"/>
</message>
<message name="availableResponse">
<part name="parameters" element="tns:availableResponse"/>
</message>
<message name="intiCatalog">
<part name="parameters" element="tns:intiCatalog"/>
</message>
<message name="intiCatalogResponse">
<part name="parameters" element="tns:intiCatalogResponse"/>
</message>
<message name="buyCart">
<part name="parameters" element="tns:buyCart"/>
</message>
<message name="buyCartResponse">
<part name="parameters" element="tns:buyCartResponse"/>
</message>
<message name="removeToCart">
<part name="parameters" element="tns:removeToCart"/>
</message>
<message name="removeToCartResponse">
<part name="parameters" element="tns:removeToCartResponse"/>
</message>
<message name="addToCart">
<part name="parameters" element="tns:addToCart"/>
</message>
<message name="addToCartResponse">
<part name="parameters" element="tns:addToCartResponse"/>
</message>
<message name="getPriceCart">
<part name="parameters" element="tns:getPriceCart"/>
</message>
<message name="getPriceCartResponse">
<part name="parameters" element="tns:getPriceCartResponse"/>
</message>
<message name="getCart">
<part name="parameters" element="tns:getCart"/>
</message>
<message name="getCartResponse">
<part name="parameters" element="tns:getCartResponse"/>
</message>
<portType name="MLVBibService">
<operation name="catalog">
<input wsam:Action="http://webservice/MLVBibService/catalogRequest" message="tns:catalog"/>
<output wsam:Action="http://webservice/MLVBibService/catalogResponse" message="tns:catalogResponse"/>
</operation>
<operation name="available">
<input wsam:Action="http://webservice/MLVBibService/availableRequest" message="tns:available"/>
<output wsam:Action="http://webservice/MLVBibService/availableResponse" message="tns:availableResponse"/>
</operation>
<operation name="intiCatalog">
<input wsam:Action="http://webservice/MLVBibService/intiCatalogRequest" message="tns:intiCatalog"/>
<output wsam:Action="http://webservice/MLVBibService/intiCatalogResponse" message="tns:intiCatalogResponse"/>
</operation>
<operation name="buyCart">
<input wsam:Action="http://webservice/MLVBibService/buyCartRequest" message="tns:buyCart"/>
<output wsam:Action="http://webservice/MLVBibService/buyCartResponse" message="tns:buyCartResponse"/>
</operation>
<operation name="removeToCart">
<input wsam:Action="http://webservice/MLVBibService/removeToCartRequest" message="tns:removeToCart"/>
<output wsam:Action="http://webservice/MLVBibService/removeToCartResponse" message="tns:removeToCartResponse"/>
</operation>
<operation name="addToCart">
<input wsam:Action="http://webservice/MLVBibService/addToCartRequest" message="tns:addToCart"/>
<output wsam:Action="http://webservice/MLVBibService/addToCartResponse" message="tns:addToCartResponse"/>
</operation>
<operation name="getPriceCart">
<input wsam:Action="http://webservice/MLVBibService/getPriceCartRequest" message="tns:getPriceCart"/>
<output wsam:Action="http://webservice/MLVBibService/getPriceCartResponse" message="tns:getPriceCartResponse"/>
</operation>
<operation name="getCart">
<input wsam:Action="http://webservice/MLVBibService/getCartRequest" message="tns:getCart"/>
<output wsam:Action="http://webservice/MLVBibService/getCartResponse" message="tns:getCartResponse"/>
</operation>
</portType>
<binding name="MLVBibServicePortBinding" type="tns:MLVBibService">
<wsp:PolicyReference URI="#MLVBibServicePortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="catalog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="available">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="intiCatalog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeToCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPriceCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MLVBibService">
<port name="MLVBibServicePort" binding="tns:MLVBibServicePortBinding">
<soap:address location="http://localhost:8080/mlv-school-rmi-client/MLVBibService"/>
</port>
</service>
</definitions>